.menu-social {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
    max-width: 100%;
  }
}

.menu-social__item {
  &:not(:last-child) {
    border-right: 1px solid $input-border-color;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
  }
}

.menu-social__link {
  color: $accent;
  cursor: pointer;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
