$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$second-bg-color: #f5f4fa;
$bg-hero-footer: #2f303a;
$footer-address-color: rgba(255, 255, 255, 0.6);
$header-outline-color: #ececec;
$cards-outline-color: #eeeeee;
$icons-color: #afb1b8;
$work-bgc-text: rgba(47, 48, 58, 0.8);
$overlay-bgc: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$close-border-color: rgba(0, 0, 0, 0.1);
$input-border-color: rgba(33, 33, 33, 0.2);
$submit-color: #188ce8;
$placeholder-color: rgba(117, 117, 117, 0.5);
$input-sub-border-color: rgba(255, 255, 255, 0.3);

$primary-font-family: Roboto;
$secondary-font-family: Raleway;
