body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font-family, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  padding: 10px 32px;

  background-color: $accent;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;

  &--submit {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    padding: 0;
  }

  &--submit-modal {
    display: block;
    height: 50px;
    margin: 0 auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $submit-color;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__title--hidden {
  visibility: hidden;
}
